@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Slate-900 */
}

.mask-linear-fade {
  mask-image: linear-gradient(to bottom, transparent, black 20%);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%);
}